  /* CSS PARA LAS TARJETAS HOME */

  .cards-list {
    background-color: #fbffff;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 20px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    /* transition: 0.4s; */
  }

  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }

  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    /* object-fit: cover; */
    object-fit: scale-down;
  }

  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }

  .card:hover {
    /* transform: scale(0.9, 0.9); */
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .title-white {
    color: white;
  }

  .title-black {
    padding-top: 10%;
    color: black;
  }

  .title-black p {
    font-size: 80%;
    font: bold sans-serif;
  }

  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }

  #top {
    display: table-cell;
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #212934 ;
    vertical-align:middle;
  }

  #top h2{
  text-shadow: 2px 2px #d71020;
    text-align: center;
    color: #fffefe;
    font-family:"Impact";
  }


  /* CARD COCHES */
  body{
    background:#eee
  }

  .ratings i{
    font-size: 16px;color: red
  }

  .strike-text{
    color: red;text-decoration: line-through
  }

  .product-imagen {
    width: 100%
  }

  .dot{
    height: 7px;width: 7px;margin-left: 6px;margin-right: 6px;margin-top: 3px;background-color: blue;border-radius: 50%;display: inline-block
  }

  .spec-1{
    color: #938787;font-size: 15px
  }

  h5{
    font-weight: 400
  }

  .para{
    font-size: 16px
  }


  .fotos {
    width: 100px;
    height: 100px;
  }


  .card3 {
    margin: 10px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    /* box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22); */
    cursor: pointer;
    transition: 0.4s;
  }
  .card3 .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  .card3 .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    /* object-fit: cover; */
    object-fit: scale-down;
  }
  .card3 .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  .card3:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }

  .img_avatar {
    width: 53px;
    height: 53px;
  }

  /* LIKES */

  .list__heart {
    float: left;
    margin-left: 3%;
  }

  .details__heart {
    font-size: 23px;
  }

  .like_red {
    color: rgb(235, 12, 12);
  }


  /* CSS DEL CARRITO */

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
  
  html,
  html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  }
  
  body {
    background-color: #fff;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    margin: 0 auto;
  }
  
  a {
    border: 0 none;
    outline: 0;
    text-decoration: none;
  }
  
  strong {
    font-weight: bold;
  }
  
  p {
    margin: 0.75rem 0 0;
  }
  
  h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
  }
  
  input,
  button {
    border: 0 none;
    outline: 0 none;
  }
  
  button {
    background-color: #666;
    color: #fff;
  }
  
  button:hover,
  button:focus {
    background-color: #555;
  }
  
  img,
  .basket-module,
  .basket-labels,
  .basket-product {
    width: 100%;
  }
  
  input,
  button,
  .basket,
  .basket-module,
  .basket-labels,
  .item,
  .price,
  .quantity,
  .subtotal,
  .basket-product,
  .product-image,
  .product-details {
    float: left;
  }
  
  .price:before,
  .subtotal:before,
  .subtotal-value:before,
  .total-value:before,
  .promo-value:before {
    content: '';
  }
  
  .hide {
    display: none;
  }
  
  main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
  }
  
  .basket,
  aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .basket {
    width: 70%;
  }
  
  .basket-module {
    color: #111;
  }
  
  label {
    display: block;
    margin-bottom: 0.3125rem;
  }
  
  .promo-code-field {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.2s linear;
    width: 48%;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  }
  
  .promo-code-field:hover,
  .promo-code-field:focus {
    border: 1px solid #999;
  }
  
  .promo-code-cta {
    border-radius: 4px;
    font-size: 0.625rem;
    margin-left: 0.625rem;
    padding: 0.6875rem 1.25rem 0.625rem;
  }
  
  .basket-labels {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 1.625rem;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    color: #111;
    display: inline-block;
    padding: 0.625rem 0;
  }
  
  li.price:before,
  li.subtotal:before {
    content: '';
  }
  
  .item {
    width: 55%;
  }
  
  .price,
  .quantity,
  .subtotal {
    width: 15%;
  }
  
  .subtotal {
    text-align: right;
  }
  
  .remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;
    right: 0;
    text-align: right;
    width: 45%;
  }
  
  .remove button {
    background-color: transparent;
    color: #777;
    float: none;
    text-decoration: underline;
    text-transform: uppercase;
  }
  
  .item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .basket-product {
    border-bottom: 1px solid #ccc;
    padding: 1rem 0;
    position: relative;
  }
  
  .product-image {
    width: 35%;
  }
  
  .product-details {
    width: 65%;
  }
  
  .product-frame {
    border: 1px solid #aaa;
  }
  
  .product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .quantity-field {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3rem;
  }
  
  aside {
    float: right;
    position: relative;
    width: 30%;
  }
  
  .summary {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 1rem;
    position: fixed;
    width: 200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .summary-total-items {
    color: #666;
    font-size: 0.875rem;
    text-align: center;
  }
  
  .summary-subtotal,
  .summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  
  .subtotal-title,
  .subtotal-value,
  .total-title,
  .total-value,
  .promo-title,
  .promo-value {
    color: #111;
    float: left;
    width: 50%;
  }
  
  .summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .promo-title {
    float: left;
    width: 70%;
  }
  
  .promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
  }
  
  .summary-delivery {
    padding-bottom: 3rem;
  }
  
  .subtotal-value,
  .total-value {
    text-align: right;
  }
  
  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .summary-checkout {
    display: block;
  }
  
  .checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
  }
  
  .summary-delivery-selection {
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
  }
  
  @media screen and (max-width: 640px) {
    aside,
    .basket,
    .summary,
    .item,
    .remove {
      width: 100%;
    }
    .basket-labels {
      display: none;
    }
    .basket-module {
      margin-bottom: 1rem;
    }
    .item {
      margin-bottom: 1rem;
    }
    .product-image {
      width: 40%;
    }
    .product-details {
      width: 60%;
    }
    .price,
    .subtotal {
      width: 33%;
    }
    .quantity {
      text-align: center;
      width: 34%;
    }
    .quantity-field {
      float: none;
    }
    .remove {
      bottom: 0;
      text-align: left;
      margin-top: 0.75rem;
      position: relative;
    }
    .remove button {
      padding: 0;
    }
    .summary {
      margin-top: 1.25rem;
      position: relative;
    }
  }
  
  @media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
      padding: 0 1rem 0 0;
    }
    .summary {
      width: 28%;
    }
  }
  
  @media screen and (max-width: 960px) {
    main {
      width: 100%;
    }
    .product-details {
      padding: 0 1rem;
    }
  }

  /* Contact */

  .contact_container {
    display: block;
    width: 100%;
    text-align: center;
  }

  .contact_page {
    display: block;
    width: 500px;
    height: 600px;
    margin: auto;
    text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: #333;
  }

  .name_contact, .email_contact, .contact_matter, .contact_message {
    display: block;
    margin-top: 20px;
    font-family: 'Verdana', sans-serif;
    color: #333;
    font-size: 18px;
    font-weight: 800;
  }

  #contact_name, #contact_email {
    text-align: center;
    width: 200px;
  }

  #send_contact {
    display: block;
    margin: auto;
    margin-top: 20px;
    line-height: normal;
    font-size: 14px;
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-weight: 600;
    padding: 0.4em 0em 0.4em 0em;
    width: 90px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 2px #333;
    color: #333;
    background-color: #fff;
  }

  #send_contact:hover {
    background: rgb(192, 192, 192);
  }

  #error_contact_name, #error_contact_email, #error_matter, #error_message { 
    display: block;
    margin: auto;
    color: red;
    font-family: arial;
    font-size: 15px;
    font-style: italic;
  }

  /* Forget password */

.forget_html {
  display: block;
  width: 100%;
  text-align: center;
}

.forget {
  display: block;
  width: 300px;
  height: 200px;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #333;
}

.email_recover {
  display: block;
  margin-top: 20px;
  font-family: 'Verdana', sans-serif;
  color: #333;
  font-size: 18px;
  font-weight: 800;
}

#email_forg {
  text-align: center;
  width: 200px;
}

#button_recover {
  display: block;
  margin: auto;
  margin-top: 20px;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-weight: 600;
  padding: 0.4em 0em 0.4em 0em;
  width: 120px;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px #333;
  color: #333;
  background-color: #fff;
}

#button_recover:hover {
  background: rgb(192, 192, 192);
}

#error_email_forg { 
  color: red;
  font-family: arial;
  font-size: 15px;
  font-style: italic;
}

/* Recover password */

.recover_html {
  display: block;
  width: 100%;
  text-align: center;
}

.recover {
  display: block;
  width: 300px;
  height: 350px;
  margin: auto;
  text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: #333;
}

.password_recover, .password_recover_2 {
  display: block;
  margin-top: 20px;
  font-family: 'Verdana', sans-serif;
  color: #333;
  font-size: 18px;
  font-weight: 800;
}

#pass_rec, #pass_rec_2 {
  text-align: center;
  width: 200px;
}

#button_set_pass {
  display: block;
  margin: auto;
  margin-top: 20px;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-weight: 600;
  padding: 0.4em 0em 0.4em 0em;
  width: 150px;
  box-sizing: border-box;
  border-radius: 10px;
  border: solid 2px #333;
  color: #333;
  background-color: #fff;
}

#button_set_pass:hover {
  background: rgb(192, 192, 192);
}

#error_password_rec, #error_password_rec_2 { 
  color: red;
  font-family: arial;
  font-size: 15px;
  font-style: italic;
}


.clearfix:after, .clearfix:before {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
  display: block;
}

.login-wrap {
width: 100%;
margin: auto;
max-width: 525px;
min-height: 670px;
position: relative;
background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html {
width:100%;
height:100%;
position:absolute;
padding: 50px 70px 50px 70px;
background:rgba(40,57,101,.9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
top: 0;
left: 0;
right: 0;
bottom: 0;
position: absolute;
transform: rotateY(180deg);
backface-visibility: hidden;
transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
text-transform: uppercase;
}

.login-html .tab {
font-size: 22px;
margin-right: 15px;
padding-bottom: 5px;
margin: 0 15px 10px 0;
display: inline-block;
border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
color: #fff;
border-color: #1161ee;
}

.login-form {
min-height: 345px;
position: relative;
perspective: 1000px;
transform-style: preserve-3d;
}

.login-form .group {
margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
width:100%;
color:#fff;
display:block;
}

.login-form .group .input,
.login-form .group .button {
border: none;
padding: 15px 20px;
border-radius: 25px;
background: rgba(255,255,255,.1);
}

.login-form .group input[data-type="password"] {
/* text-security: circle; */
-webkit-text-security: circle;
}

.login-form .group .label {
font-size: 12px;
}

.login-form .group .button {
background:#1161ee;
  margin-top: 20px;
}

.login-form .group label .icon {
width: 15px;
height: 15px;
border-radius: 2px;
position: relative;
display: inline-block;
background: rgba(255,255,255,.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
content: '';
width: 10px;
height: 2px;
background: #fff;
position: absolute;
transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before{
left:3px;
width:5px;
bottom:6px;
transform:scale(0) rotate(0);
}

.login-form .group label .icon:after{
top:6px;
right:0;
transform:scale(0) rotate(0);
}

.login-form .group .check:checked + label{
color:#fff;
}

.login-form .group .check:checked + label .icon{
background:#1161ee;
}

.login-form .group .check:checked + label .icon:before{
transform:scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after{
transform:scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
transform:rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
transform:rotate(0);
}

.hr{
height: 2px;
margin: 20px 0 20px 0;
background: rgba(255,255,255,.2);
}

.foot-lnk{
text-align: center;
  font-weight: 600;
}

.foot-lnk a{
  color: #FFFFFF;
}

.social_login {
  display: block;
  margin-top: 30px;
  margin-bottom: 150px;
}

.google_login {
  display: block;
  float: left;
  margin-left: 100px;
}

.google_title {
  text-align: center;
  color: white;
  font-size: 15px;
}

.google_img {
  display: inline-block;
  height: 60px;
  width: 60px;
  border-style: none;
  border-radius: 0px;
  background-image: url(img/google.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.github_login {
  display: block;
  float: right;
  margin-right: 100px;
}

.github_title {
  text-align: center;
  color: white;
  font-size: 15px;
}

.github_img {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-image: url(img/github.png);
  background-size: cover;
  background-repeat: no-repeat;
}

#forget_pass {
  color: white;
}
