<br>
<br>

<!-- CAROUSEL DE LAS MARCAS -->

<div class="glider-contain">
    <div class="carousel__list"></div>
    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>
    <div role="tablist" class="dots"></div>
</div>

<!-- TODAS LAS CARROCERIAS -->

<div class="cards-list" id="containerCategories">
    <div id="top">  
        <h2>CARROCERIAS</h2>
    </div>
</div>

<!-- TODOS LOS TIPOS DE MOTOR -->

<div class="cards-list" id="containerTypecar">
    <div id="top">  
        <h2>TIPO DE MOTOR</h2>
    </div>
</div>

<br>
<br>

<!-- CAROUSEL DE COCHES MAS VISITADOS -->

<div class="glider-contain">
    <div id="top">  
        <h2>MAS VISITADOS</h2>
    </div>

    <div class="carousel__list_cars"></div>

    <button aria-label="Previous" class="glider-prev">«</button>
    <button aria-label="Next" class="glider-next">»</button>

    <div role="tablist" class="dots"></div>
</div>

<!-- LIBROS DE LA API -->

<!-- <div> -->
    <div id="books_content" class="books_content"></div>
    <div id="btn-more-books" class="btn-more-books"></div>
<!-- </div> -->